@charset "utf-8";

table caption {
	display:none
}

.tList,
.tList02,
.tList03,
.tInsert,
.tInsert02,
.tCont,
.tView { 
	width:100%;
	word-break: break-all;
}


/* ======= tList ======= */
.tList thead tr {	
	background:url(../img/mypage/list_th.gif) no-repeat 0 0 
}
.tList thead th {	
	padding:20px 5px 16px;
	height:37px
}
.tList thead th span {
	display:inline-block;
	height:37px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text.png) no-repeat 
}
.tList tbody tr {
	background:url(../img/mypage/list_td_line.gif) no-repeat 0 bottom 
}
.tList td {
	font-size:14px;
	line-height:18px;
	padding:8px 5px 13px;
	color:#333333;
	text-align:center;
}
.tList td.textL {
	text-align:left
}
.tList td button {
	display:block;
	margin:3px auto 0;
	width:86px;
	height:27px;
	font-size:15px;
	font-weight:600;
	border:1px solid #adadad;
	border-radius:6px
}

/* ======= tList02 ======= */

.tList02 {
	width:100%;
	margin:0 auto
}
.tList02 thead tr {	
	background:#f9f9f9;
	border:1px solid #cdcdcd;
}
.tList02 thead th {	
	font-family:"BMJUA";
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#555555
}
.tList02 td {
	font-size:14px;
	line-height:18px;
	padding:8px 5px 9px;
	color:#333333;
	text-align:center;
	border-bottom:1px dotted #cdcdcd;
}
.tList02 td.textL {
	text-align:left
}
.tList02.qna {margin-top:20px}
.tList02.qna thead th span {
	display:inline-block;
	height:17px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text04.png) no-repeat 
}
.tList02.qna a {
	display:inline-block;
	width:90%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tList02.qna_good {margin-top:30px}
.tList02.qna_good thead th span {
	display:inline-block;
	height:17px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text05.png) no-repeat 
}
.tList02.qna_good td {
	padding:13px 5px;
}
.tList02.review {margin-top:30px}
.tList02.review thead th span {
	display:inline-block;
	height:17px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text06.png) no-repeat 
}
.tList02.review a {
	display:inline-block;
	width:90%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tList02.shipping {margin-top:20px}
.tList02.shipping thead th span {
	display:inline-block;
	height:17px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text07.png) no-repeat 
}
.tList02.shipping td input[type="radio"].size27 + label span {
    margin:0px
}

.popup .tList02 thead tr {	
	text-align:center;
	background:url(../img/mypage/list_th_popup.gif) no-repeat 0 0 
}
.tList02.change thead th span {
	display:inline-block;
	height:17px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text08.png) no-repeat 
}
.tList02.change td input[type="radio"].size27 + label span {
    margin:0px 10px 0 0px;
	vertical-align:26px;
}
.tList02.change td select,
.tList02.refund td select {
	padding-left:15px;
	width:348px;
	height:35px;
	border:1px solid #929292;
	border-radius:10px;
	vertical-align:middle;
	line-height:1;
	background:#fff url(../img/common/select_arrow.png) no-repeat 97% 50%;
	-webkit-appearance: none;
}
/*
.tList02.notice {
    background:url(../img/mypage/qna_list_top.gif) no-repeat 0 0;
    background-size:100% 8px;
}*/
.tList02.notice tr:first-child td {
	padding-top:15px
}
.tList02.notice td a {
    display: block;
    max-width:100%;
	padding-bottom:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ======= tList03 ======= */
.tList03 thead th {	
	padding:11px 5px 2px;
	background:#4f4f4f
}
.tList03 td {
	font-size:.9rem;
	line-height:18px;
	padding:20px 5px 20px;
	color:#333;
	text-align:center;
	border-bottom:1px solid #cdcdcd;
}
.tList03 td.textL {
	text-align:left;
}
.tList03.cart {
	width: calc(100% + 5%);
	margin: 0 0 0 -2.5%;
}
.tList03.cart td {
	padding:20px 10px;
}
.tList03.cart td.img {
	vertical-align:top
}
.tList03.cart td input[type="checkbox"].size15 + label span {
	margin:0px
}
.tList03.cart a {
	font-size:15px;
	font-weight:600;
	color:#333
}

.tList03.cart_check thead th  {
	text-align:left;
	padding:16px 10px 14px 50px;
	background:#952121
}
.tList03.cart_check thead th span {
	display:inline-block;
	height:21px;
	text-indent:-999em;
	background:url(../img/product/list_th_text14.png) no-repeat 
}
.tList03.cart_check td {
	padding:40px 0 58px;
	font-size:16px;
}
.tList03.cart_check td span {
	display:block;
	font-size:14px;
	margin-left:-10px;
	margin-bottom:12px
}
.tList03.cart_check td span.red {
	color:#bd1111
}
.tList03.cart_check td em {
	font-size:30px;
	font-weight:600
}
.tList03.cart_check td em.total {
	font-size:37px;
	color:#bd1111
}


/* ======= tInsert ======= */
.tInsert.join {
	width: 100%;
	margin: 0 auto 20px;
}
.tInsert.shop {
	width:729px;
	margin:47px auto 30px
}

.tInsert th {
	text-align:left;
    color: #333;
    font-weight: 500;
	padding-right:0;
}
.tInsert th.textC {
	text-align:center
}
.tInsert th,
.tInsert td {	
	padding:10px 10px 0 10px;
	/*border-bottom: 1px dotted #ccc;*/
    height: 20px;
    line-height: 20px;
	word-break:keep-all;
}
.vaT	{vertical-align:top;}
.bdrT	{border-top: 1px dotted #ccc; margin-top:10px;}
.tInsert td input[type="text"],
.tInsert td input[type="password"] {
	width:100%;
	height: 2rem;
	padding: 0 8px;
	vertical-align: middle;
	box-sizing: border-box;
	border: 1px solid #cdcdcd;
}
.tInsert td textarea {
	padding:0 5px;
	width:100%;
	height:100px;
	font-size:0.8rem;
	border:1px solid #cdcdcd;
	box-sizing:border-box
}
.tInsert td input.form_id,
.tInsert td input.form_tel,
.tInsert td input.form_address {
	/*width:calc(100% - 89px); 회원가입영역때문에 수정*/
	width:100%;
	margin-top:5px;
}
.tInsert td input.form_coupon,
.tInsert td input.form_point {
	width:calc(100% - 110px);
}
.tInsert td input.form_id02 {
	color:#3663b4;
	font-weight:600
}
.tInsert td select.email {
	padding:5px;
	width:calc(100% - 10%);
	height:32px;
	border:1px solid #cdcdcd;
	/*border-radius:5px;*/
	vertical-align:middle;
    line-height:1;
    background:#fff url(../img/common/select_arrow.png) no-repeat 95% 50%;
	background-size:10px auto;
    -webkit-appearance: none;
}/*
.tInsert td input.form_email {
	width:calc(100% - 120px);
}
.tInsert td input.form_email02 {
	width:calc(100% - 150px);
    max-width:140px;
}*/
.tInsert td select.birth {
	padding:5px 10px;
	width:30%;
	height:30px;
	border:1px solid #cdcdcd;
	/*border-radius:5px;*/
	vertical-align:middle;
    line-height:1;
    background:#fff url(../img/common/select_arrow.png) no-repeat 90% 50%;
	background-size:10px auto;
    -webkit-appearance: none;
}
.tInsert td select {
	padding:5px 10px;
	width:calc(100% - 3%);
	height:32px;
	border:1px solid #cdcdcd;
	/*border-radius:5px;*/
	vertical-align:middle;
    line-height:1;
    background:#fff url(../img/common/select_arrow.png) no-repeat 95% 50%;
	background-size:10px auto;
    -webkit-appearance: none;
}

.tInsert.out {
	width:956px;
	margin:10px auto 30px
}
.tInsert.out textarea {
	width:696px;
	height:127px;
	border-radius:10px;
	border:1px solid #cdcdcd;
}
.tInsert td input.form_staff {
	width:290px;
}
.tInsert th em {
	display:inline-block;
	width:12px;
	height:11px;
	margin-left:6px;
	text-indent:-999em;
	vertical-align:-4px;
	background:url(../img/bottom/icon_em.gif) no-repeat 0 0
}
.tInsert.join td b {
	color:#333
}
.tInsert td:first-child,
.tInsert th:first-child	{
	/*padding-top:20px;*/
}
.tInsert td input[type="password"]#pw,
.tInsert td input[type="password"]#pw_check {
	width:80%;
}
#select01 {
	padding:0 20px 0 5px;
	height:32px;
	border:1px solid #cdcdcd;
	vertical-align:middle;
	background: #fff url(../img/common/select_arrow.png) no-repeat 98% 50%;
}

#tel01,
#mobile01 {
	width:calc(30% - 3%);
	padding:5px;
	height:32px;
	border:1px solid #cdcdcd;
	vertical-align:middle;
	background: #fff url(../img/common/select_arrow.png) no-repeat 98% 50%;
}
#email01	{width:30%}
#tel02,
#tel03,
#mobile02,
#mobile03,
#interphone {width: calc(33% - 16px);}
#email02 {width:calc(67% - 20px)}
#email03 {
	margin-top:5px;
	background: #fff url(../img/common/select_arrow.png) no-repeat 98% 50%;
}
select#shipping_message,
.order_detail_list select#email03 {
	/*width:234px*/
	width: calc(100% - 10px);
}
.btn_password {
	width:90px;
    height:32px;
    font-size:0.8em;
    /*font-weight:600;*/
    color:#fff;
    border:1px solid #333333;
    /*border-radius:5px;*/
    /*margin-left:5px;*/
    vertical-align:top;
    background:#535a5a;
}

.tInsert.join #strtnbAddr,
.tInsert.join #dtlAddr {
	/*margin-top:5px 배송지수정때문에 없앰*/
}

/* ======= tInsert02 ======= */
.popup .tInsert02 thead tr {	
	text-align:center;
	background:url(../img/mypage/list_th_popup.gif) no-repeat 0 0 
}
.tInsert02 thead th {	
	padding:24px 5px 15px;
    height:17px;
}
.tInsert02.pop_review thead th span {
	display:inline-block;
	height:17px;
	text-indent:-999em;
	background:url(../img/mypage/list_th_text10.png) no-repeat 
}
.tInsert02 tbody tr {
	background:url(../img/mypage/list_td_line.gif) no-repeat 0 bottom 
}
.tInsert02 td {	
	padding:12px 20px 12px;
}
.tInsert02 td .star_radio_area input[type="radio"].size27 + label span {
    margin:0px 0px 6px 0px;
}
.tInsert02 td input[type="text"],
.tInsert02 td textarea {
	width:100%;
	height:33px;
	border-radius:4px;
	border:1px solid #929292
}
.tInsert02 td textarea.form_review {
	height:146px
}
.tInsert02 td .filebox .upload-name {
    display:inline-block;
    padding:0 7px 0 7px;
	height:33px;
    font-size:14px;
    letter-spacing: -1px;
    color:#555;
    background:#fff;
	border-radius:4px;
    border:1px solid #929292;
    position: relative;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.tInsert02 td .filebox label {
    vertical-align: middle;
    display: inline-block;
    width:108px;
    height:33px;
	font-size:15px;
	font-weight:600;
	color:#fff;
    margin-left:5px;
	border-radius:4px;
    background:#535a5a;
	border:1px solid #333333;
    cursor:pointer;
}

/* ======= tCont ======= */
.tCont {
	border-top:1px solid #e1e1e1
}
.tCont th {	
	padding:6px 10px 7px;
	color:#333333;
	font-size:12px;
	font-weight:500;
	text-align:left;
	line-height:120%;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}
.tCont th.tit {
	padding:8px 10px 10px;
	font-size:14px;
	color:#fff;
	border-right:none;
	background:#646464
}
.tCont th.tit span {
	font-size:14px;
	color:#cacaca;
	margin-left:10px
}
.tCont td {	
	padding:3px 10px 3px;
	color:#666;
	font-size:12px;
	line-height:120%;
	background:#fff;	
	border-bottom:1px solid #e1e1e1;
}
.tCont th.bgGray {
	color:#333333;
	line-height:20px;
	background:#f1f1f1
}

/* ===== Table pagination ===== */
.tPages { 
    text-align:center;
    margin:18px auto 32px
}
.tPages ul {
	display:inline-block;
	overflow:hidden
}
.tPages ul li {
    float:left ;
    text-align: center;
    width:36px;
	height:30px;
	line-height:30px;
	font-size:18px;	
	margin:0 2.5px;
}
.tPages ul li.prev,
.tPages ul li.next {
	border:1px solid #838383;
	border-radius:3px;
	background:#f2f2f2
}
.tPages ul li a {
    display:block;
    color:#000000;	
	background:url(../img/mypage/bar_page.gif) no-repeat left 50%
}
.tPages ul li:nth-child(3) a {
	background:none
}
.tPages ul li.prev a,
.tPages ul li.next a {
    display: block;
	background:none
}
.tPages ul li.prev a img,
.tPages ul li.next a img {
	vertical-align:0
}
.tPages ul li.prev a:hover,
.tPages ul li.next a:hover {
	background:#e3e3e3;
}
.tPages ul li.active a {
    color:#3663b4;
    display:block;
}

/* === form === */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
	font-family: "Noto Sans KR","맑은 고딕","dotum","돋움",sans-serif;
    padding:0 7px 0 7px;
	width:calc(100% - 25px);
	height:30px;
    font-size:14px;
    color:#666;
	background:#fff;
	border:1px solid #cdcdcd;
	/*border-radius:5px;*/
    position:relative;
    vertical-align:middle;	
	outline:none;
}
textarea {
	font-family: "Noto Sans KR","맑은 고딕","dotum","돋움",sans-serif;
    padding:0 7px 0 7px;
    font-size:17px;
    color:#555;
	background:#fff;
	border:1px solid #cdcdcd;
    position: relative;
    vertical-align: middle;	
	outline: none;
}
input[readonly] { color:#828282; background: #eee;}

/* === file upload === */
.filebox {
	display:inline-block;
	margin-left:3px
}
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.filebox label {
	display: inline-block;
    width:80px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    border: 1px solid #b1b1b1;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
    box-shadow: 0 1px 0 0 #fff inset;
    cursor: pointer;
}
.filebox .upload-name {
	display:inline-block;
	padding:6px 7px 9px 7px;
	width:50%;
    font-size:0.8rem;
	letter-spacing:-1px;
    color:#555;
    background: #fff;
    border:1px solid #cdcdcd;
    position:relative;
    vertical-align: middle;
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}

.filebox .btn_del {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    background: #ededed url(../img/common/btn_del.png) no-repeat 50% 50%;
}

/* === datepicker === */
input[type="text"].date {
	width:159px;
	padding:0 10px;
	background:#fff url("../img/common/icon_date.png") no-repeat 95% 50%
}
.ui-datepicker {
	display:none;
    border:1px solid #ccc !important;
    background:#fff !important;
    color:#333 !important;
	border-radius:10px;
	overflow:hidden
}
.ui-datepicker-title {
    font-size: 14px;
    text-align: center;
    background: #eee;
    /* color: #fff; */
    padding: 5px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position:absolute;
	top:2px;
	width:1.8em;
	height:1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top:2px;
	opacity:0.6
}
.ui-datepicker .ui-datepicker-prev {
	left:2px;
	background:url("../img/common/go_prev.png") no-repeat center 9px;
}
.ui-datepicker .ui-datepicker-next {
	right:2px;
	background:url("../img/common/go_next.png") no-repeat center 9px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left:2px;
	background:url("../img/common/go_prev.png") no-repeat center 9px !important;
}
.ui-datepicker .ui-datepicker-next-hover {
	right:2px;
	background:url("../img/common/go_next.png") no-repeat center 9px !important;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display:block;
	position:absolute;
	left:50%;
	margin-left:-8px;
	top:50%;
	margin-top:-8px;
	text-indent:-999em
}
table.ui-datepicker-calendar {
	width:100%
}
table.ui-datepicker-calendar th {
	font-size:12px;
	border-bottom:1px solid #ddd
}
table.ui-datepicker-calendar td {
	text-align:right;
	padding:2px 5px;
	font-size:14px;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee
}
table.ui-datepicker-calendar td:last-child {
	border-right:none
}
.ui-state-default:hover {
	opacity:0.6	
}
.ui-datepicker-today {
	background:#eee
}
.ui-datepicker-current-day {
	background:#00adf5
}
.ui-state-active {
	color:#fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border:none !important
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color:#000 !important;
	background:#eee !important
}
input[type="checkbox"] {
	cursor:pointer;
	width:23px;
	height:23px;
	vertical-align:middle
}


/*2018-09-07 오프라인구매내역 css커스텀*/
select.ui-datepicker-year	{
	background-color:#fff;
	width:70px;
}
select.ui-datepicker-month	{
	background-color:#fff;
	width:70px;
	margin-left:7px;
}
.ui-datepicker-head	{
	display:none;/*2018-10-05*/
	text-align: center;
	margin: 10px 0;
}

/* === check size15 === */
input[type="checkbox"].size15 {
    display:none;
}
input[type="checkbox"].size15 + label span {
	cursor:pointer;
	display:inline-block;
	width:15px;
	height:14px;
	margin:0px 5px 2px 10px;
	vertical-align:middle;
	/*background:url(../img/login/icon_checkbox.png) right top no-repeat;
	background-size:33px auto*/
	background: url(../img/member/agree_check.gif) 0 top no-repeat;
	background-size:14px;
}
input[type="checkbox"].size15:checked + label span {
	/*background:url(../img/login/icon_checkbox.png) left top no-repeat;
	background-size:33px auto*/
	background: url(../img/member/agree_check.gif) 0 -16px no-repeat;
	background-size:14px;
}

/* === radio size14 === */
input[type="radio"].size14 {
    display:none;
}
input[type="radio"].size14 + label	{
	font-size:.9rem;
	display: inline-block;
    width: 31%;
}
input[type="radio"].size14 + label span {
    cursor:pointer;
    display:inline-block;
    width:15px;
    height:15px;
    margin:0px 10px 4px 0;
    vertical-align:middle;
    background: url(../img/member/member_radio.gif) 0 top no-repeat;
	background-size:15px;
}
input[type="radio"].size14:checked + label span {
    background: url(../img/member/member_radio.gif) 0 -16px no-repeat;
	background-size:15px;
}

select::-ms-expand {
	display: none;
	-webkit-appearance: none;
}
select {
	-webkit-appearance: none;
}

/* tProduct_Insert */
.tProduct_Insert {
	width:100%;
	margin:10px auto 30px;
}
.tProduct_Insert th {
    padding:10px 0px;
    text-align:left;
    color:#333;
    font-weight:800;
    line-height:15px;
}
.tProduct_Insert th.order_tit.top {
	vertical-align:top;	
	line-height:32px;
}
.tProduct_Insert th.order_tit em {
	display:inline-block;
	width:12px;
	height:11px;	
	margin-right:3px;
	text-indent:-999em;
	background:url(../img/bottom/icon_em.gif) no-repeat 0 50%;
	background-size:10px auto;
}
.tProduct_Insert th.order_tit.top em {
	vertical-align:-9px
}
.tProduct_Insert td {
    padding:10px 0px;
	height:32px
}
.tProduct_Insert td input[type="text"],
.tProduct_Insert td input[type="password"] {
    padding: 0 5px;
    width: calc(100% - 24px);
    height: 30px;
    border: 1px solid #333333;
    /*border-radius:5px;*/
}
.btn_post {
	width:70px;
	height:2rem;
    font-size: .75rem;
    color:#fff;
    border:1px solid #333333;
    margin-left:1px;
    vertical-align:middle;
    background:#555;
	border-radius:0
}

.tMember_Insert {
	width:100%;
	margin:0 auto
}
.tMember_Insert th {
	font-size: 13px;
    text-align:left;
    color:#333;
    font-weight:400;
	vertical-align:middle;
	padding: 10px 0 10px 5px;
}
#popup_address .btn_close_popup {
	top:13px
}

.valgnT	{vertical-align:top;}
.tInsert.join th	{
	vertical-align:top;
}