<li>
    <div class="goods_image_area">
        #[bestIcon]
        <div class="label_area">
            #[iconImgs]
        </div>
        <div class="img_menu">
            <div class="click_lay">
                <a href="javascript:goods_preview('#[goodsNo]');"><span class="menu01" title="미리보기"></span></a>
                <a href="javascript:ListBtnUtil.insertBasket('#[goodsNo]');"><span class="menu02" title="장바구니"></span></a>
                <a href="javascript:ListBtnUtil.insertInterest('#[goodsNo]');"><span class="menu03" title="관심상품"></span></a>
            </div>
        </div>
        <a href="javascript:goods_detail('#[goodsNo]');"><img src="#[goodsDispImgA]" alt=""></a>
    </div>
    <div class="brand_title">
        <a href="javascript:goods_detail('#[goodsNo]');">#[brandNm]</a>
    </div>
    <div class="goods_title">
        <a href="javascript:goods_detail('#[goodsNo]');">#[goodsNm]</a>
    </div>
    <div class="product_info">
        <a href="javascript:goods_detail('#[goodsNo]');">#[prWords]</a>
    </div>
    <div class="price_info">
        <del>#[customerPrice]</del>
        #[salePrice]
    </div>
</li>