<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
        <typeAlias type="net.danvi.dmall.smsemail.model.request.PushSendPO" alias="PushSendPO" />
        <typeAlias type="net.danvi.dmall.smsemail.model.PushSendVO" alias="PushSendVO" />
        <typeAlias type="net.danvi.dmall.smsemail.model.MemberManageSO" alias="MemberManageSO" />
        <typeAlias type="net.danvi.dmall.smsemail.model.MemberManageVO" alias="MemberManageVO" />
	</typeAliases>
	
    <typeHandlers>
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler"></typeHandler>
        <typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.DateTypeHandler"></typeHandler>
        <typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"></typeHandler>
        <typeHandler javaType="java.lang.Long" handler="org.apache.ibatis.type.LongTypeHandler"></typeHandler>
        <typeHandler javaType="java.lang.Float" handler="org.apache.ibatis.type.FloatTypeHandler"></typeHandler>
    </typeHandlers>


</configuration>

