@charset "utf-8";

/* === quick menu === */
#quick_menu {
    position:absolute;
    top:180px;
    right:50%;
    margin-right:-600px;
    z-index:10
}
.quick_area {
    width:100px;
}
h2.quick_title {
    font-size:12px;
    font-weight:700;
    color:#fff;
    background:#da2027;
    width:100%;
    line-height:35px;
    height:35px;
    text-align:center
}
.quick_body {
    width:98px;
    overflow:hidden;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    background:#fff
}
.quick_smenu {
    padding:12px 0 0px;
}
.quick_smenu li {
    text-align:right;
    margin:5px 0;
    padding:0 12px
}
.quick_smenu li a {
    font-size:11px;
    letter-spacing:-.5px;
    color:#5b5b5b
}
.quick_smenu li a span {
    display:inline-block;
    width:20px;
    color:#000000
}
.quick_view {
    margin:0 0 0 0
}
.quick_view li {
    text-align:center;
    margin:0 0 0
}
.quick_view li img{
    width:59px;
    height:44px;
}
.btn_quick_pre,
.btn_quick_next {
    text-align:center;
    width:100%;
    height:20px;
    line-height:15px;
    display:inline-block;
}

a.btn_quick_top {
    display:block;
    text-align:center;
    line-height:34px;
    height:34px;
    color:#fff;
    padding-right:4px;
    background:#da2027 url(../img/quick/arrow_top.png) no-repeat 63px 16px
}